.header__title {
  max-width: 730px;
  width: 100%;
  margin: 0 0 0 64px;
  z-index: 10;
    /*При малых разрешениях будет поверх блоков*/
  align-self: center;
  line-height: 96px;
    /*Высота строки*/
  font-size: 102px;
    /*Размер шрифта*/
  font-weight: 600;
    /*Начертание шрифта*/
}